<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>getProducto</servlet-name>
        <servlet-class>servlets.getProducto</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getProducto</servlet-name>
        <url-pattern>/getProducto</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>getUser</servlet-name>
        <servlet-class>servlets.getUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getUser</servlet-name>
        <url-pattern>/getUser</url-pattern>
    </servlet-mapping>
 
    <servlet>
        <servlet-name>getMaquina</servlet-name>
        <servlet-class>servlets.getMaquina</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getMaquina</servlet-name>
        <url-pattern>/getMaquina</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getAdmin</servlet-name>
        <servlet-class>servlets.getAdmin</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getAdmin</servlet-name>
        <url-pattern>/getAdmin</url-pattern>
    </servlet-mapping>
   
   <servlet>
        <servlet-name>registerUser</servlet-name>
        <servlet-class>servlets.registerUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>registerUser</servlet-name>
        <url-pattern>/registerUser</url-pattern>
    </servlet-mapping>
   
   <servlet>
        <servlet-name>userLogin</servlet-name>
        <servlet-class>servlets.userLogin</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userLogin</servlet-name>
        <url-pattern>/userLogin</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getVentas</servlet-name>
        <servlet-class>servlets.getVentas</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getVentas</servlet-name>
        <url-pattern>/getVentas</url-pattern>
    </servlet-mapping>
   
   <servlet>
        <servlet-name>getUserFromUsername</servlet-name>
        <servlet-class>servlets.getUserFromUsername</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getUserFromUsername</servlet-name>
        <url-pattern>/getUserFromUsername</url-pattern>
    </servlet-mapping>
   
   
   <servlet>
        <servlet-name>getVentasFromUser</servlet-name>
        <servlet-class>servlets.getVentasFromUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getVentasFromUser</servlet-name>
        <url-pattern>/getVentasFromUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminLogin</servlet-name>
        <servlet-class>servlets.adminLogin</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminLogin</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>servlets.deleteUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>deleteVenta</servlet-name>
        <servlet-class>servlets.deleteVenta</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteVenta</servlet-name>
        <url-pattern>/deleteVenta</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>updateUser</servlet-name>
        <servlet-class>servlets.updateUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>updateUser</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateProducto</servlet-name>
        <servlet-class>servlets.updateProducto</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>updateProducto</servlet-name>
        <url-pattern>/updateProducto</url-pattern>
    </servlet-mapping>

    
    <servlet>
        <servlet-name>deleteProducto</servlet-name>
        <servlet-class>servlets.deleteProducto</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteProducto</servlet-name>
        <url-pattern>/deleteProducto</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>getVentaFromId</servlet-name>
        <servlet-class>servlets.getVentaFromId</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getVentaFromId</servlet-name>
        <url-pattern>/getVentaFromId</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>searchProducto</servlet-name>
        <servlet-class>servlets.searchProducto</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>searchProducto</servlet-name>
        <url-pattern>/searchProducto</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
    
    

</web-app>
